<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
    <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>
    <property name="hibernate.connection.username">proyportafolio</property>
    <property name="hibernate.connection.password">proyportafolio</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping resource="POJO/SalaServ.hbm.xml"/>
    <mapping resource="POJO/Proveedor.hbm.xml"/>
    <mapping resource="POJO/CarServ.hbm.xml"/>
    <mapping resource="POJO/Garantia.hbm.xml"/>
    <mapping resource="POJO/Usuario.hbm.xml"/>
    <mapping resource="POJO/SoftBd.hbm.xml"/>
    <mapping resource="POJO/LengDesSist.hbm.xml"/>
    <mapping resource="POJO/Servidor.hbm.xml"/>
    <mapping resource="POJO/SistOper.hbm.xml"/>
    <mapping resource="POJO/TipoServ.hbm.xml"/>
    <mapping resource="POJO/ContGar.hbm.xml"/>
    <mapping resource="POJO/UnidadTrabajo.hbm.xml"/>
    <mapping resource="POJO/NivSens.hbm.xml"/>
    <mapping resource="POJO/Webservice.hbm.xml"/>
    <mapping resource="POJO/Sistema.hbm.xml"/>
    <mapping resource="POJO/Organizacion.hbm.xml"/>
    <mapping resource="POJO/Perfil.hbm.xml"/>
    <mapping resource="POJO/Incidente.hbm.xml"/>
    <mapping resource="POJO/Servicio.hbm.xml"/>
    <mapping resource="POJO/DirIp.hbm.xml"/>
    <mapping resource="POJO/Rack.hbm.xml"/>
    <mapping resource="POJO/NivSeg.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
